
/*
 Variaveis para cores:
 ---Fundo-principal
 ---texto
 ---text-inverso
 ---destaque
 ---destaque-inverso
 ---fundo-card
 */

 * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

 }

 :root {
    ---Fundo-principal: #f5f5f5;
    ---texto: #222222;
    ---text-inverso: #ffffff;
    ---destaque:#0077ff;
    ---destaque-inverso:#66bbff; 
    ---fundo-card: #ffffff;

 }

 body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5em;
    background-color: var(---Fundo-principal);
    color: var(---texto);


 }

 header {
    background-color: var(---destaque);
    color: var(---texto);    
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-content: center;


 }

 #menu ul {
    list-style: none;
    display: flex;
    gap: 10px;

 }

 #menu > ul > li > a {
    text-decoration: none;
    color: var(---text-inverso);
    font-weight: 600;
    padding: 12px 15px;
    border-radius: 5px;
    transition: background-color 0.5s, color 0.5s;
 }

 #menu > ul > li > a:hover {
    background-color: var(---destaque-inverso);
    color: var(---destaque);

    
 }